<!-- navbar.component.html -->
<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <!-- Logo -->
      <a routerLink="/" class="text-2xl font-bold text-red-500">GameZone</a>
  
      <!-- Enlaces de navegación para pantallas grandes -->
      <div class="hidden md:flex space-x-8" style="color: aliceblue;">
        <a routerLink="/home" class="hover:text-red-500 transition-colors">Inicio</a>
        <a routerLink="/juegos" class="hover:text-red-500 transition-colors">Juegos</a>
        <a routerLink="/categorias" class="hover:text-red-500 transition-colors">Categorías</a>
        <a routerLink="/contacto" class="hover:text-red-500 transition-colors">Contacto</a>
      </div>
  
      <!-- Ícono de hamburguesa para menú móvil -->
      <button (click)="toggleMenu()" class="md:hidden text-gray-300 hover:text-red-500 focus:outline-none">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
  
    <!-- Menú desplegable móvil -->
    <div class="flex flex-col space-y-2 mt-4 md:hidden">
      @if (menuOpen) {
      <a routerLink="/inicio" class="block py-2 px-4 hover:text-red-500">Inicio</a>
      <a routerLink="/juegos" class="block py-2 px-4 hover:text-red-500">Juegos</a>
      <a routerLink="/categorias" class="block py-2 px-4 hover:text-red-500">Categorías</a>
      <a routerLink="/contacto" class="block py-2 px-4 hover:text-red-500">Contacto</a>
      }
    </div>
  </nav>
  
  